@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

.bg {
  background-image: url('/bird-bg.png');
  background-repeat: repeat;
  /* opacity: 0.5; */
}

.black {
  background-color: #000;
  opacity: 0.5;
}

.container {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.RightToLeft {
  animation: RightToLeft 10s infinite linear;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.fixed-container {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  z-index: 1000; /* Make sure it sits on top of other content */
}

.fixed-container-two {
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  z-index: 1000; /* Make sure it sits on top of other content */
}

.fixed-container-music {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 1000; /* Make sure it sits on top of other content */
}

.hover-item {
  transition: 0.3s;
}
.hover-item:hover {
  transform: translate(0, -10px);
}
